html{     /*set style for html*/
    font-size: 62.5%;       /*default font size in browser is 16px. So, 16px * 62.5% = 10px = 1rem i.e. we have defined our 1 rem*/
    box-sizing: border-box;
}

body{
    font: 1.6rem Helvetica;
    height: 100vh;
    margin: 0;
}

.grid-container{    /*defining a class in CSS*/
     display: grid;     /*layout style in html*/
     grid-template-areas: 
     "header"
     "main"
     "footer";
     /* fr - fractional unit*/
    grid-template-columns: 1fr;     /*only 1 col*/ 
    grid-template-rows: 5rem 1fr 5rem;      /*3 rows*/
    height: 100%
}

/*Now create classes for header, main and footer*/
.header{
    grid-area: header;
    background-color: #203040;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;     /*to place text in the middle of the horizontal bar that we created*/ 
    padding: 0.5rem;        /*make a gap between amazona text and screen edge*/
}

/*set link color and size*/

/*amazona link*/
.brand a{
    color: #ffffff;
    font-size: 3rem;
    font-weight: bold;
    text-decoration: none;      /*remove underline from links*/
}

/*cart and sign in link*/
.header-links a{
    color: #ffffff;
    text-decoration: none;
    padding: 1rem;
}

/*change color of links when cursor hover over them*/
.header-links a:hover{
    color: #ff8000;
}
.main{
    grid-area: main;
}
 
.footer{
    grid-area: footer;
    background-color: #203040;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*to change product link color on hovering*/
a{
    text-decoration: none;
}
a:hover{
    color: #ff8000;
}

/*Home Screen*/
.products{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;        /*so that we don't need to scroll horizontally to see products*/
}

/*for each item of the product*/
.products li{
    list-style-type: none;
    padding: 0;
    flex: 0 1 34rem;             /*???????????*/
    margin: 1rem;
    height: 50rem;
    border-bottom: .1rem  #c0c0c0 solid;
}

.product{       /*image and description positioning */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.product-name{
    font-size: 2rem;
    font-weight: bold;
}

.product-brand{
    font-size: 1.2rem;
    color: #808080;
}
.product-price{
    font-size: 2rem;
    font-weight: bold;
}
.product-image{
    max-width: 34rem;
    max-height: 34rem;
}

.product-rating{
    margin-bottom: 1rem;
}

/*sidebar*/

/*hamburger icon*/
.brand button{
    font-size: 2rem;
    padding: .5rem;
    background: none;
    border: none;
    color: #fff;        /* i.e. #ffffff*/
    cursor: pointer;
}

.sidebar{
    position: fixed;        /*to keep on the top*/

    /*to keep the sidebar on the left and out of the screen*/
    transform: translateX(-30rem);
    width: 30rem;

    background-color: #f0f0f0;
    height: 100%;
}

/*to show sidebar when clicked*/
.sidebar.open{
    transform: translateX(0);
}

.sidebar-close-button{
    border-radius: 50%;
    border: .1rem #000000 solid;
    width: 3rem;
    height: 3rem;
    padding: .5rem;
    font-size: 2rem;
    padding-top: 0;
    cursor: pointer;

    /*shift to right*/
    position: absolute;
    right: .5rem;
    top: 1.5rem;
}